@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 45px;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.experienceContainer {
  display: flex;
  padding: 45px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
}
.expTitle {
  display: flex;
}
.exp {
  display: flex;
  gap: 25px;
}
.exp img {
  flex: 2;
  height: 155px;
  width: 120px;
  object-fit: cover;
}
.expDetails {
  flex: 8;
}
.innerExp {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
  .clientExp {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 5px;
    .innerImg {
      min-height: 100px;
      max-height: 100px;
      object-fit: cover;
      width: auto;
      background-color: var(--color-text);
    }
  }

  .innerDesc {
    flex: 8;
    li {
      text-align: left;
    }
  }
}
@media screen and (max-width: 830px) {
  .experienceContainer {
    flex-direction: column;
  }
  .expTitle {
    display: flex;
    flex-wrap: wrap;
  }
  .exp {
    margin-bottom: 25px;
    flex-direction: column;
    gap: 0px;
  }
  .innerExp {
    flex-direction: column;
  }
  .container {
    background-color: transparent;
    padding: 0;
    margin-top: 80px;
  }
  .exp img {
    width: auto;
  }
}
